%container {
    width: 100%;
   padding-left: 30px;
   padding-right: 30px;
   margin-left: auto;
   margin-right: auto;
   @media screen and(min-width: 480px) {
       width: 480px;
       padding-left: 15px;
       padding-right: 15px;
   }
   @media screen and(min-width: 768px) {
    width: 768px;
}
@media screen and(min-width: 1200px) {
    width: 1200px;
}
}

%img {
    display: block;
    max-width: 100%;
    height: auto;
}

%link {
    text-decoration: none;
    color: inherit;
}

%visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}